body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid red;
  border-radius:10px; */
  position:absolute;
}
.blinkyDancer{
  /* border:10px solid blue;
  border-radius:10px; */
  position:absolute;
  max-width: 200px;
}
.superheroDancer{
  /* border:10px solid green;
  border-radius:10px; */
  position:absolute;
  /* transform: rotate(35deg); */
  max-width: 200px;
}
.bouncyDancer{
  /* border:10px solid purple;
  border-radius:10px; */
  position: absolute;
  animation-name: bounce 5s linear;
  max-width: 200px;
}
.background{
  width: 100%;
  height: 100%
};